<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PitaraFilmz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="./images/ICONS-02c.png" type="image/x-icon">


  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div class="main">
    <div class="cursor"></div>
    <!-- <!-page 1 starts -------------------------------------->
    <div id="home" class="page1">
      <div class="navbar">

        <img logo src="./images/ICONS-01.png" alt="wait">
        <ul class="ulitems">
          <li><a href="#home">HOME</a></li>
          <li><a href="#box2">ABOUT US</a></li>
          <li><a href="#page3_content"> SERVICES</a></li>
          <li><a href="#team">TEAM</a></li>

          <li> <a href="#our_workp">OUR WORK</a></li>

          <!-- <li> <a href="/portfolio">our portfolio</a></li> -->
          <li><a href="#contactus">CONTACT US</a></li>
        </ul>
        <ol>
          <li><img class="menuicon" src="./images/icons8-menu-50.png" alt=""></li>
        </ol>
      </div>
      <div class="box1">
        <h2>
          Producing Masterpieces, <br> Crafting Cinematic <br> Wonders.
        </h2>
        <img class="icon" src="./images/ICONS-06.png" alt="">
        <h3>Welcome to Pitara Filmz</h3>
        <img class="iconupsidedown" src="./images/ICONS-13down.png" alt="">
      </div>
      <div class="showreel">
        <iframe id="videoFrame" width="100%" height="100%" src="https://www.youtube.com/embed/Hg8V3-abyiI?si=WEB47BtiSU0Hv1LH&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>            


    </div>
    <!-- /* page 1 ends  =============================--------------------------------------------*/ -->

    <!-- 
   <!-page 2 starts -------------------------------------->


    <div class="page2">


      <!-- video space  -->

      <div id="box2" class="box2">
        <!-- about us  -->
        <h1>About US </h1>
        <h2>Pitara Filmz is your creative powerhouse, specializing in video production, direction, photography,
          cinematography, music production, voice over, graphic design, script writing, and VFX. We breathe life into
          your
          ideas, crafting compelling stories and captivating visuals that leave a lasting impact. With a team of
          dedicated
          professionals, we're here to turn your imagination into reality. Join us on a journey of creativity and
          innovation, and let's bring your vision to the screen with Pitara Filmz</h2>




      </div>

    </div>

    <!-- /* page 2 ends  =============================--------------------------------------------*/ -->
    <!-- page3 starts -->

    <div id="page3_content" class="page3">
      <!-- <div class="box4">    -->



      <!-- <div class="box3"> -->

      <!-- 

        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide box3_slide1">Slide 1</div>
            <div class="swiper-slide box3_slide2">Slide 2</div>
            <div class="swiper-slide box3_slide3">Slide 3</div>
            <div class="swiper-slide box3_slide4">Slide 4</div>
            <div class="swiper-slide box3_slide5">Slide 5</div>
            <div class="swiper-slide box3_slide6">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
          </div>
          <div class="swiper-pagination"></div>
        </div> -->

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide box3_slide1">
            <h2>Direction</h2>
          </div>
          <div class="swiper-slide box3_slide2">
           
            <h2> Cinematography</h2>
          </div>
          <div class="swiper-slide box3_slide3">
            <h2>Photography</h2>
          
          </div>

          <div class="swiper-slide box3_slide4">
            <h2>VFX</h2>
          </div>
          <div class="swiper-slide box3_slide5">
            <h2>
              Music Production
            </h2>
          </div>
          <div class="swiper-slide box3_slide6">
            <h2>Script Writing</h2>
          </div>
          <div class="swiper-slide box3_slide7">
            <h2> Voice Over & Debugging</h2>
          </div>
          <div class="swiper-slide box3_slide8">
            <h2>Graphic Designing</h2>
          </div>
          <div class="swiper-slide box3_slide9">
            <h2>s,l;smklsmdskl</h2>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>


      <div class="page3_content">
        <img src="./images/icons06cut.png" alt="">
        <h1>Our <span>Services:</span></h1>
      </div>
      <div class="box4">

        <img src="./images/ICONS-03 cut.png" alt="">

      </div>
      <div class="horizontal">

        <img src="./images/ICONS-03 cut - Copy.png" alt="">

      </div>



      <div class="box5_service_content1">
        <div class="box5_service_content1inner1">
          <ul>
            <li>Direction</li>
            <li>Photography</li>
            <li>Music Production</li>
            <li>Voice_Over</span> & Dubbing</li>



          </ul>
        </div>
        <div class="box5_service_content1inner2">
          <ul>
            <li>web Desinging</li>
          </ul>
        </div>

      </div>
      <div class="box5_service_content2">

        <div class="box5_service_content1outer1">
          <ul>
            <li>Cinematography</li>

            <li><span>VFX</span> & 3D Animation</li>
            <li>Script
              Writing</li>

          </ul>
        </div>
        <div class="box5_service_content1outer2">
          <ul>
            <li>Graphic Desinging</li>

          </ul>
        </div>

      </div>

















      <div class="box5_service_content_left_mobileview">

        <ul>
          <li>Cinematography</li>
          <li>VFX & <br> 3D Animation</li>
          <li>Photography</li>
          <li>Graphic<br>Desinging</li>
        </ul>
      </div>
      <div class="box5_service_content_right_mobileview">
        <ul>
          <li>Direction</li>
          <li>Music Production</li>
          <li>Script Writing</li>
          <li>Voice_Over</span> & Dubbing</li>
          <li>web Desinging</li>
        </ul>

      </div>






      <div id="team" class="experience">

        <h3>Over 4+  Years Experience...</h3>

      </div>
    </div>

    <!-- page3 ends -->
    <!-- page4 starts -->

    <div class="page4">
      <div class="box6">
        <h1>Meet Our Team:</h1>

      </div>





      <!-- New Swiper Section -->
      <div class="box7_team">
        <div class="swiperb7 mySwiperb7">
          <div class="swiper-wrapper">
            <div class="swiper-slide box7_slide1">
              <h2>Ashish Shrivastava</h2>
              <h3>Founder & Creative Director</h3>
              <a href="https://www.instagram.com/life.in.a_lens?igsh=ODA1NTc5OTg5Nw==">
                <img src="./images/icons8-instagram-48.png" alt="">
              </a>
              <!-- Add your content for Slide 1 -->
            </div>
            <div class="swiper-slide box7_slide2">
              <h2>Rajnish Vinodia</h2>
              <h3>Dop & Video Editor</h3>
              <a href="https://www.instagram.com/rajnish.vinodia?igsh=OGQ5ZDc2ODk2ZA=="><img
                  src="./images/icons8-instagram-48.png" alt=""></a>
              <!-- Add your content for Slide 2 -->
            </div>

            <div class="swiper-slide box7_slide3">
              <h2>Ravideep Mishra </h2>
              <h3>Dop & Screen Writer </h3>
              <a href="https://www.instagram.com/ravii_dp?igsh=OGQ5ZDc2ODk2ZA=="><img
                  src="./images/icons8-instagram-48.png" alt=""></a>
              <!-- Add your content for Slide 2 -->
            </div>

            <div class="swiper-slide box7_slide4">
              <h2>Nandini Shrivastava</h2>
              <h3> Voicover Artist & Content Writer</h3>
              <a href="https://www.instagram.com/nandinni.___?igsh=OGQ5ZDc2ODk2ZA=="><img
                  src="./images/icons8-instagram-48.png" alt=""></a>
              <!-- Add your content for Slide 2 -->
            </div>

            <div class="swiper-slide box7_slide5">
              <h2>Manish Kumar </h2>
              <h3>Cinematographer</h3>
              <a href="https://www.instagram.com/manish.khanna?igsh=OGQ5ZDc2ODk2ZA=="><img
                  src="./images/icons8-instagram-48.png" alt=""></a>
              <!-- Add your content for Slide 2 -->
            </div>

            <div class="swiper-slide box7_slide6">
              <h2>Akash Pandey</h2>
              <h3>VFX & 3D Artist</h3>
              <a href="https://www.instagram.com/nandinni.___?igsh=OGQ5ZDc2ODk2ZA=="><img
                  src="./images/icons8-instagram-48.png" alt=""></a>
              <!-- Add your content for Slide 2 -->
            </div>

            <!-- Add more slides as needed -->
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <!-- <div class="box7_image1">

          <div class="name1">
            <h1>Ashish <br> Shrivastav</h1>
          </div>
          <div class="designation1">
            <h1>Founder</h1>
            <a href="https://instagram.com/life.in.a_lens?utm_source=qr&igshid=OWQwZjg2NTYyYQ==" target="_blank">
              <img src="./images/ICONS-07.png" alt="">
            </a>
          </div>
        </div>
        <div class="box7_image2">


          <div class="name2">
            <h1>Nandani <br> Shrivastav</h1>
          </div>
          <div class="designation2">
            <h1>Managing <br> Director 1</h1>
            <img src="./images/ICONS-07.png" alt="">
          </div>
        </div>
        <div class="box7_image3">
          <div class="name3">
            <h1>Ra <br> Shrivastav</h1>
          </div>
          <div class="designation3">
            <h1>Managing <br> Director 1</h1>
            <img src="./images/ICONS-07.png" alt="">
          </div>
        </div>
      </div> -->

      <!-- page 4 ends -->




      <!-- page5 start -->


      <div id="our_workp" class="page5_ourwork">

        <div class="our_work_content">

          <div class="our_work_heading">

            <h1>Our work</h1>

          </div>
          <div class="our_work_box1">
            <h2>In our ever-evolving portfolio at Pitara Filmz, every project is a unique masterpiece. From heartwarming
              documentaries that touch souls to high-energy music videos that set screens ablaze, our work reects our
              dedication to creativity and excellence.</h2>
          </div>
          <div class="our_work_box2">
            <h2>Explore our diverse range of projects and let the visuals and stories speak for themselves. At Pitara
              Filmz,
              we don't just create content; we craft experiences that leave a lasting impression.</h2>
          </div>
          <img src="./images/ICONS-05.png" alt="">
          <div class="our_portfolio">
            <h4>Explore</h4>
            <h1>Our Portfolio</h1>
            <div class="portfolioscrool1">
              <img src="./images/ICONS-12.png" alt="">
            </div>
            <div class="portfolioscrool2">
              <img src="./images/ICONS-12.png" alt="">
            </div>
          </div>
          <div class="portfolioimg">
            <a href="/portfolio">
              <img class="portimg1" src="./images/dylann-hendricks-1s7Vtvkm4JA-unsplash 1.png" alt="">
              <img class="portimg2" src="./images/venti-views-sEJVJKbQRwo-unsplash 1.png" alt="">
              <img class="portimg3" src="./images/shaian-ramesht-da_x3cCM48g-unsplash 1.png" alt="">

            </a>
          </div>

        </div>

      </div>



      <!-- page5 ends -->
      <!-- page6 start -->
      <div class="ourclients">
        <h1>Our Clients</h1>
        <div id="contactus" class="client-train">
          <img src="./images/T-series-logo.svg.png" alt="">
          <img src="./images/TimesMusic 1.png" alt="">
          <img src="./images/saregama-logo 1.png" alt="">
          <img src="./images/AA AUDIO LAB 1.png" alt="">
          <img src="./images/transparent-creativekarma 1.png" alt="">
          <img src="./images/download 1.png" alt="">
          <img src="./images/color1-white_icon_transparent_background-1 1.png" alt="">

        </div>
      </div>
      <!-- page6ends -->



      <!-- page7 starts -->

      <div class="page7">

        <div class="letstalk">

          <h2>Our Services</h2>
          <div class="oursericeend1">
            <ul>
              <li>Direction | Cinematography | Photography
                MusicProduction </li>
              <li>VFX | Script Writing | Voice Over & Dubbing </li>
              <li> Graphic Designing | Web Development</li>
            </ul>
          </div>
        </div>
        <div class="contact">
          <div class="contactdetails">
            <div class="contactdetails1">
              <h1>Pitara Filmz</h1>
              <h2>J/58 Jai Prakash Nagar Adhartal Jabalpur Madhya Pradesh 482004</h2>
              <h1>Office Timings: <h2>10am - 9pm</h2>
              </h1>
              <h1>Contact Details</h1>
              <h2>+91-8319194345 | +91-6260953267</h2>
              <h1>connectwithpitara.com</h1>
            </div>
            <div class="contactdetails2">

              <a href="https://wa.me/+918319194345" target="_blank">
                <img class="whatsapp" src="./images/ICONS-04.png" alt="WhatsApp">
              </a>
              <!-- <img class="whatsapp" src="./images/ICONS-04.png" alt=""> -->
              <a href="https://www.instagram.com/pitarafilmz?igshid=ODA1NTc5OTg5Nw==" target="_blank">
                <img class="instagram" src="./images/ICONS-07.png" alt="instagram">
              </a>
              <!-- <img class="intagram" src="./images/ICONS-07.png" alt=""> -->

              <a href="https://www.facebook.com/your_facebook_page/" target="_blank">
                <img class="facebook" src="./images/ICONS-08.png" alt="Facebook">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/your_linkedin_profile/" target="_blank">
                <img class="linkedin" src="./images/ICONS-10.png" alt="LinkedIn">
              </a>



              <!-- <img class="facebook" src="./images/ICONS-08.png" alt="">
            <img class="linkedin" src="./images/ICONS-10.png" alt=""> -->
            </div>
          </div>
        </div>

      </div>
      <!-- page7 ends -->


    </div>

<!-- Your HTML content above -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./javascripts/index.js"></script>
</body>

</html>