<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PitaraFilmz</title>
  <link rel="stylesheet" href="./stylesheets/portfoilo.css">
  <link rel="shortcut icon" href="./images/ICONS-02c.png" type="image/x-icon">

</head>

<body>

  <!-- page1 start -->
  <div class="page page1" data-page-number="1">

    <div class="navbar">
      <img src="./images/ICONS-01.png" alt="wait">
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="#contactus">CONTACT US</a></li>
      </ul>
    </div>

    <div class="page1content">
      <h1>Music Video</h1>
      <h2>Join us on a journey where music finds it's visual soul. Feel the rhythm of innovation. Pitara crafts music
        videos that resonate with soulful visuals. From cinematic narratives to high-energy performances, our portfolio
        reflects the artistry of sound and sight.</h2>
      <h3>Click on image to view</h3>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellow1 yellow"></div>
      <div class="orange1 orange"></div>
      <div class="black1 black"></div>
      <h4>Scroll down for more</h4>
      <div class="scrolldown1">
        <img src="./images/ICONS-12_down.png" alt="">
      </div>
    </div>

  </div>

  <!-- New Page 1 -->
  <div class="new-page hidden new-page-1">
    <div class="video-container upper-left">
      <!-- Video 1 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HBbXh-bHZFk?si=RdZ5OKao1LT37hqC"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container upper-right">
      <!-- Video 2 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/C27MYKdT-zs?si=iGa04gPrDsbgTlBn"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    
    </div>
    <div class="video-container lower-left">
      <!-- Video 3 -->
      <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/amuyYTztU_o?si=SHJPDGBcwwcsgO1z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container lower-right">
      <!-- Video 4 -->
      <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/fNLmb_-56pg?si=MCRZZzmOB_QoqlFh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="close-button">Close</button>
    <!-- <button class="scroll-button" onclick="scrollVideos()">Scroll</button> -->
  </div>
  <!-- page1ends -->

  <!-- page2 starts  -->
  <div class="page page2" data-page-number="2">

    <div class="page2content">
      <h1>Concerts</h1>
      <h2>Want to experience the thrill of the crowd, the dynamic lighting and the sonic spectacle?</h2>
      <h3>Concert section as we bring the concert atmosphere to life through our lens</h3>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellow2 yellow"></div>
      <div class="orange2 orange"></div>
      <div class="black2 black"></div>
    </div>
  </div>
  <!-- New Page 2 -->
  <div class="new-page hidden new-page-2">
    <div class="video-container upper-left">
      <!-- Video 1 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Hg8V3-abyiI?si=37ZfEWqYqELbKU6-"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container upper-right">
      <!-- Video 2 -->
      <video width="100%" height="100%" controls>
        <source src="./videos/tea time.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video-container lower-left">
      <!-- Video 3 -->
      <video width="100%" height="100%" controls>
        <source src="./videos/Sunti Hoon Main Ram Maithili Thakur Samarpit Golani Dussehra Special Ram Bhajan.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video-container lower-right">
      <!-- Video 4 -->
      <video width="100%" height="100%" controls>
        <source src="./videos/tu jo mila compressed 02.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <button class="close-button">Close</button>
    <!-- <button class="scroll-button" onclick="scrollVideos()">Scroll</button> -->
  </div>

  <!-- page2ends -->
  <!-- page3 starts -->

  <div class="page page3" data-page-number="3">

    <div class="page3content">

      <h1>Festivals</h1>
      <h2>Come and explore the excitement of an event, the
        <br> cultural richness of a fest and the synthesis of
        tradition and Modernity.
      </h2>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellow3 yellow"></div>
      <div class="orange3 orange"></div>
      <div class="black3 black"></div>
    </div>
  </div>
  <div class="new-page hidden new-page-3">
    <div class="video-container upper-left">
      <!-- Video 1 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/h5LD61li7yo?si=gAuVqdMjh8qydspO"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container upper-right">
      <!-- Video 2 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yLXD2zlCBAA?si=iBKZ32QAnVyc5L1i"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container lower-left">
      <!-- Video 3 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YLjfwd4O7XI?si=StcCRgnPkexgehKZ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container lower-right">
      <!-- Video 4 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QnIeOK8RMMc?si=IOG1NF19kP9vzHUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="close-button">Close</button>
    <!-- <button class="scroll-button" onclick="scrollVideos()">Scroll</button> -->
  </div>
  <!-- page3 ends -->
  <!-- post production page  -->
  <div class="post_production_page page page4" data-page-number="4">

    <div class="post_production_content">
      <h1>Post production</h1>
      <h2>Perfect your content with Pitara's post-production Excellence. Our portfolio speaks volumes about the careful
        refinement of every frame and sound. From editing and color grading to creating immersive audio, Pitara turns
        ideas into polished masterpieces. Elevate your content; choose Pitara's excellence in post-production.
      </h2>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellowpost yellow"></div>
      <div class="orangepost orange"></div>
      <div class="blackpost black"></div>
    </div>
  </div>


  <div class="new-page hidden new-page-4">
    <div class="video-container upper-left">
      <!-- Video 1 -->

      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WXBvrt9GV9U?si=qHGRJ2NNWUcFzAtJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      
    </div>
    <div class="video-container upper-right">
      <!-- Video 2 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J28vVkQN9l0?si=PGM-QjQjn3QkW_S8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container lower-left">
      <!-- Video 3 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TwnbaM0bu4o?si=6jWzZQZ3cOZmeT98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container lower-right">
      <!-- Video 4 -->
     
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UC6yxl37lyY?si=oPEHQ7e5-RfTJrel" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="close-button">Close</button>
    <!-- <button class="scroll-button" onclick="scrollVideos()">Scroll</button> -->
  </div>
  <!-- post production page end  -->

  <!-- page4 starts -->
  <div class="page page_devotional page5" data-page-number="5">

    <div class="page4content">
      <h1>Devotional Videos</h1>
      <h2>Whether you seek inner peace, wish to share a message of inspiration, or simply want to be moved by the
        mesmerizing charm of Bhajans, our devotional videos are a perfect match</h2>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellow4 yellow"></div>
      <div class="orange4 orange"></div>
      <div class="black4 black"></div>
    </div>

  </div>

  <div class="new-page hidden new-page-5">
    <div class="video-container upper-left">
      <!-- Video 1 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EwHJsgqdjkE?si=7H8eU8IV-xW6ZsEa"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container upper-right">
      <!-- Video 2 -->
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/h5Y9bigk4xY?si=_i5lV2WVXNkxXoOj"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="video-container lower-left">
      <!-- Video 3 -->
      <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/kI6VxRv63oY?si=pOIdKh10hxgf4aCS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container lower-right">
      <!-- Video 4 -->
      <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/w9Jy8F5c8UA?si=qp0wvxlAK3kWSZH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <button class="close-button">Close</button>
    <!-- <button class="scroll-button" onclick="scrollVideos()">Scroll</button> -->
  </div>

  <!-- page4 ends -->

  <!-- vfs starts -->



  <div class="page page_vfx" data-page-number="5">

    <div class="vfxcontent">

      <h1>VFX & 3D Animation</h1>
      <h2>Step into a world where reality and fantasy seamlessly intertwine. Our VFX portfolio brings imagination to
        life, from stunning CGI to seamless compositing. Discover the magic of transformative visual storytelling.</h2>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellowvfx yellow"></div>
      <div class="orangevfx orange"></div>
      <div class="blackvfx black"></div>

    </div>

    <div class="new-page hidden new-page-6">
      <div class="video-container upper-left">
        <!-- Video 1 -->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Hg8V3-abyiI?si=37ZfEWqYqELbKU6-"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video-container upper-right">
        <!-- Video 2 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/tea time.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="video-container lower-left">
        <!-- Video 3 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/Sunti Hoon Main Ram Maithili Thakur Samarpit Golani Dussehra Special Ram Bhajan.mp4"
            type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="video-container lower-right">
        <!-- Video 4 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/tu jo mila compressed 02.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <button class="close-button">Close</button>
    </div>

  </div>


  <!-- vfx ends  -->

  <!-- ads start -->


  <div class="page page_ad page6" data-page-number="6">

    <div class="adcontent">

      <h1>Ad film's</h1>
      <h2>Visit our AD Films section to experience the power of storytelling.
        Here, we turn brand stories into captivating visual tales. From concept spark to screen brilliance, let's make
        it extraordinary.</h2>
      <img src="./images/ICONS-05_cut.png" alt="">
      <div class="yellowad yellow"></div>
      <div class="orangead orange"></div>
      <div class="blackad black"></div>

    </div>

    <div class="new-page hidden new-page-7">
      <div class="video-container upper-left">
        <!-- Video 1 -->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Hg8V3-abyiI?si=37ZfEWqYqELbKU6-"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video-container upper-right">
        <!-- Video 2 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/tea time.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="video-container lower-left">
        <!-- Video 3 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/Sunti Hoon Main Ram Maithili Thakur Samarpit Golani Dussehra Special Ram Bhajan.mp4"
            type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="video-container lower-right">
        <!-- Video 4 -->
        <video width="100%" height="100%" controls>
          <source src="./videos/tu jo mila compressed 02.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <button class="close-button">Close</button>
    </div>

  </div>


  <!-- ads end -->

  <!-- page 5starts  -->
  <div class="page_photo">

    <div class="page_photo_content">

      <h1>Photography</h1>
      <h2>Welcome to the captivating world Photography, where moments are immortalized through our lens. Our portfolio
        showcases striking portraits, event coverage that captures genuine emotions, pulsating energy of concerts and
        product photography that marries aesthetics with visual appeal. Every click narrates a story, and every frame is
        a testament to our commitment to visual excellence.</h2>
      <img src="./images/ICONS-05_cut.png" alt="">

      <h4>Scroll down for more</h4>
      <div class="scrolldown5">
        <img src="./images/ICONS-12_down.png" alt="">
      </div>

    </div>


  </div>


  <!-- page 5 ends -->

  <!-- page6 starts -->

  <div class="page6_photo_grid">

    <div class="page6_photo_grid_content_1">
      <div class="page6_photo_grid_content_1_container_1"></div>
      <div class="page6_photo_grid_content_1_container_2">


        <div class="page6_photo_grid_content_1_container_2_subcontainer_1">
          <div class="page6_photo_grid_content_1_container_2_box1"></div>
          <div class="page6_photo_grid_content_1_container_2_box2"></div>
        </div>

        <div class="page6_photo_grid_content_1_container_2_subcontainer_2">
          <div class="page6_photo_grid_content_1_container_2_box3"></div>
          <div class="page6_photo_grid_content_1_container_2_box4"></div>
        </div>



      </div>

    </div>


  </div>



  <!-- page6 ends -->
  <!-- page 7 starts -->

  <div class="page7">

    <div class="page7_content_1">
      <div class="page7_content_1_container_1"></div>
      <div class="page7_content_1_container_2">


        <div class="page7_content_1_container_2_subcontainer_1">
          <div class="page7_content_1_container_2_box1"></div>
          <div class="page7_content_1_container_2_box2"></div>
        </div>

        <div class="page7_content_1_container_2_subcontainer_2">
          <div class="page7_content_1_container_2_box3"></div>
          <div class="page7_content_1_container_2_box4"></div>
        </div>



      </div>

    </div>


  </div>


  <!-- page 7 ends -->



  <!-- page 8 starts -->


  <div class="page8">

    <div class="letstalk">
      <h1>Let's Talk!</h1>
      <h4>Fill out the following to get your project Started</h4>

      <form>
        <input type="text" name="Name" placeholder="Name*" id="name" required>
        <input type="email" name="Email" placeholder="Your Email ID*" id="email" required>
        <input type="number" name="phone" placeholder="Whatsapp Number*" id="number" required>
        <input type="text" name="requirements" placeholder="Requirements:" id="requirements">
        <button type="submit">Submit</button>
      </form>
      <div class="oursericeend1">
      <h2>Our Services</h2>
        
        <ul>
          <li>Direction | Cinematography | Photography
            MusicProduction </li>
          <li>VFX | Script Writing | Voice Over & Dubbing </li>
          <li> Graphic Designing | Web Development</li>
        </ul>
      </div>
    </div>
    <div class="contact">
      <div class="contactdetails">
        <a
          href="https://www.google.com/maps/place/j,+58,+Jai+Prakash+Nagar,+Adhartal,+Jabalpur,+GCF+Jabalpur,+Madhya+Pradesh+482004/@23.2053392,79.9468785,17.89z/data=!4m5!3m4!1s0x3981afb48a67b595:0x357e0fe63a7012b4!8m2!3d23.2053067!4d79.9460642?entry=ttu"><img
            src="/images/Screenshot 2024-02-07 230648.png" alt=""><img src="/images/Screenshot 2024-02-07 230648.png"
            alt=""></a>
        <div class="contactdetails1">
          <h1>Pitara Filmz</h1>
          <h2>J/58 Jai Prakash Nagar Adhartal Jabalpur Madhya Pradesh 482004</h2>
          <h1>Office Timings: <h2>10am - 9pm</h2>
          </h1>
          <h1>Contact Details</h1>
          <h2>+91-8319194345 | +91-6260953267</h2>
          <h1>connectwithpitara.com</h1>
        </div>
        <div class="contactdetails2">

          <a href="https://wa.me/+918319194345" target="_blank">
            <img class="whatsapp" src="./images/ICONS-04.png" alt="WhatsApp">
          </a>
          <!-- <img class="whatsapp" src="./images/ICONS-04.png" alt=""> -->
          <a href="https://www.instagram.com/pitarafilmz?igshid=ODA1NTc5OTg5Nw==" target="_blank">
            <img class="instagram" src="./images/ICONS-07.png" alt="instagram">
          </a>
          <!-- <img class="intagram" src="./images/ICONS-07.png" alt=""> -->

          <a href="https://www.facebook.com/your_facebook_page/" target="_blank">
            <img class="facebook" src="./images/ICONS-08.png" alt="Facebook">
          </a>
          <!-- LinkedIn link -->
          <a href="https://www.linkedin.com/in/your_linkedin_profile/" target="_blank">
            <img class="linkedin" src="./images/ICONS-10.png" alt="LinkedIn">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- page 8 ends -->






  <script src="https://smtpjs.com/v3/smtp.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./javascripts/portfolio.js"></script>
</body>

</html>